<div class="box1">
  <h2>Settings</h2>
  <div class="mt-4">
    <!-- Colors Settings -->
    <div class="mt-2">
      <h5 >Colores de mascotas disponibles</h5>
      <mat-form-field class="row col-12 example-chip-list" appearance="fill">
        <mat-label>Agrega o elimina colores</mat-label>
        <mat-chip-list #chipList1 aria-label="Fruit selection">
          <mat-chip class="d-flex align-items-center" *ngFor="let c of colors.$values">
            {{c.color1}}
            <button matChipRemove (click)="onDelete('color', c.id)">
              <i class='bx bxs-x-circle'></i>
            </button>
          </mat-chip>
          <input
            #colorInput
            placeholder="Nuevo Color..."
            [formControl]="colorCtrl"
            [matChipInputFor]="chipList1"
            (keyup.enter)="postColor()">
        </mat-chip-list>
      </mat-form-field>
    </div>
  
    <!-- Raza Settings -->

    <!-- Gatos -->
    <div class="mt-2">
      <h5 >Razas de gatos disponibles</h5>
      <mat-form-field class="row col-12" appearance="fill">
        <mat-label>Agrega o elimina razas</mat-label>
        <mat-chip-list #chipList2>
          <div *ngFor="let b of breeds.$values">
            <mat-chip *ngIf="b.petTypeIdFk == 1">
              {{b.breed1}}
              <button matChipRemove (click)="onDelete('breed', b.id)">
                <i class='bx bxs-x-circle'></i>
              </button>
            </mat-chip>
          </div>
          <input
            #breedInput
            placeholder="Nueva Raza..."
            [formControl]="breedCtrl"
            [matChipInputFor]="chipList2"
            (keyup.enter)="postBreed(1)">
        </mat-chip-list>
      </mat-form-field>
    </div>

    <!-- Perros -->
    <div class="mt-2">
      <h5 >Razas de perros disponibles</h5>
      <mat-form-field class="row col-12" appearance="fill">
        <mat-label>Agrega o elimina razas</mat-label>
        <mat-chip-list #chipList3>
          <div *ngFor="let b of breeds.$values">
            <mat-chip *ngIf="b.petTypeIdFk == 2">
              {{b.breed1}}
              <button matChipRemove (click)="onDelete('breed', b.id)">
                <i class='bx bxs-x-circle'></i>
              </button>
            </mat-chip>
          </div>
          <input
            #breedInput2
            placeholder="Nueva Raza..."
            [formControl]="breedCtrl2"
            [matChipInputFor]="chipList3"
            (keyup.enter)="postBreed(2)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
   

</div>
