<div class="row mt-4">
  <div class="d-flex flex-column align-items-center col-6">
    <i class='bx bxs-user'></i>
    <h4>{{countUsers}}</h4>
    <small>TOTAL USUARIOS</small>
  </div>
  <div class="d-flex flex-column align-items-center col-6">
    <i class='bx bxl-baidu'></i>
    <h4>{{countPets}}</h4>
    <small>TOTAL MASCOTAS</small>
  </div>
</div>
<div class="row mt-4">
  <div class="d-flex flex-column align-items-center col-6">
    <i class='bx bxs-injection'></i>
    <h4>{{countVacines}}</h4>
    <small>MASCOTAS VACUNADAS</small>
  </div>
  <div class="d-flex flex-column align-items-center col-6">
    <i class='bx bx-first-aid'></i>
    <h4>{{countTreatments}}</h4>
    <small>MASCOTAS ESTERILIZADAS</small>
  </div>
</div>
