<div class="mt-4">
  <h5>Reporte de mascotas e información médica</h5>
  <mat-form-field appearance="standard" class="w-100">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
  </mat-form-field>

  <!-- Table -->
  <table class="mat-elevation-z8 w-100"
  mat-table [dataSource]="dataSource" 
  matSort (matSortChange)="announceSortChange($event)">
    
    <!-- Name Column -->
    <ng-container matColumnDef="pet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let p"><small>{{p.petName}}</small></td>
    </ng-container>

    <!-- Treatments Column -->
    <ng-container matColumnDef="treatments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tratamientos </th>
      <td mat-cell *matCellDef="let p">
        <div *ngIf="p.treatments.$values.length != 0; else unknown">
          <small *ngFor="let t of p.treatments.$values">
            {{t}}
          </small>
        </div>   
        <ng-template #unknown>
          <small>Sin tratamientos</small>
        </ng-template>
      </td>
    </ng-container>

    <!-- Vacines Column-->
    <ng-container matColumnDef="vacines">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vacunas</th>
      <td mat-cell *matCellDef="let p">
        <div *ngIf="p.vacines.$values.length != 0; else empty">
          <small *ngFor="let v of p.vacines.$values">
            {{v}}
          </small> 
        </div>
        <ng-template #empty>
          <small>Sin vacunas</small>
        </ng-template>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let p">
        <a (click)="goToPetProfile(p.id)" class="actions-link" matTooltip="Ver">
          <i class='bx bxs-show'></i>
        </a> 
        <a (click)="goToEditPet(p.id)" class="actions-link" matTooltip="Editar">
          <i class='bx bxs-pencil'></i>
        </a> 
        <a (click)="deletePet(p.id)" class="actions-link" matTooltip="Eliminar">
          <i class='bx bxs-trash-alt delete' ></i>
        </a> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource.length" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of pets"></mat-paginator>
</div>
