.box{
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-bar
{
  display: flex;
}
.search-bar-container
{
  display: flex;
  background: #FFF;
  border-radius: 8px; 
  align-items: center; 
}
.bx-slider-alt
{
  padding: 10px;
  line-height: 1.5rem;
  color: #474747;
}
.search-bar input
{
  padding: 10px;
  padding-left: 10px;
  background: none;
}
.search-bar button
{
  background: #FFF; 
  border-radius: 8px;
}
.search-bar button i
{
  font-size: 2rem;
  color: #4689fd;
}