<div class="row d-flex align-items-center">
  <!-- Card -->
  <mat-card >
    <mat-card-header class="d-flex align-items-center">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title (click)="goToUserProfile(pet.userId)">
        @{{pet.username}}
      </mat-card-title>
      <mat-card-subtitle>Dueño</mat-card-subtitle>
      <div style="margin-left: 2rem; cursor: pointer;">
        <i class='bx bxs-message-square-dots'></i>
      </div>
    </mat-card-header>
  </mat-card>
</div>
