<div class="row">
  <div class="col-sm-12 col-lg-3 mb-5" *ngFor="let p of petsList.$values">
    <!-- Pet Card -->
    <mat-card class="card">    
      <img mat-card-image src="https://lasillarotarm.blob.core.windows.net.optimalcdn.com/images/2019/05/28/memekieroanvorguesagatitos7.jpg">
      
      <button class="favBtn">
        <i class='bx bxs-heart'></i>
      </button>
      <!-- Card Data -->
      <mat-card-content class="d-flex justify-content-between" >
        
        <!-- Card Info -->
        <div class="col-10">
          <mat-card-title class="mb-4" (click)="goToPetProfile(p.id)">
            {{p.name | titlecase}}
          </mat-card-title>
  
          <mat-card-subtitle class="d-flex align-items-center"
          *ngIf="p.street != '' && p.city != '' && p.number != 0 ">
            <i class='bx bxs-map'></i>  
            <a href="#" >
              {{p.street}}, {{p.number}}, {{p.city}}, {{p.state}}             
            </a>
          </mat-card-subtitle>
        </div>
  
        <!-- Card Icon -->
        <div *ngIf="p.sex === false; else female">
          <i class='bx bx-male-sign pet-icon'></i>
        </div>
        <div>
          <ng-template #female>
            <i class='bx bx-female-sign pet-icon'></i>
          </ng-template>
        </div>  
  
      </mat-card-content>
    </mat-card>
  </div>
</div>