<div class="box1">
  <h2 class="mb-4">Bienvenidos al 
    <span class="orange">Cheems Dashboard</span>
  </h2>
  
  <mat-tab-group>
    <mat-tab label="Analytics"> 
      <app-analitics></app-analitics>
    </mat-tab>
    <mat-tab label="Users">
      <app-user-settings></app-user-settings>  
    </mat-tab>
    <mat-tab label="Pets">
      <app-pets-settings></app-pets-settings>
    </mat-tab>
    <mat-tab label="Settings">
      <app-settings></app-settings>
    </mat-tab>
  </mat-tab-group>
</div>
